html{
    background-color:  #2b2a2a;
    color: white;
    font-family: 'Lato', sans-serif;
}

header{
    width: 100%;    
    position: fixed;
    top: 0;
    left: 0;
    color: white;
    background: white;
    height: 100px;
    opacity: 0.9;
}

footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    right: 0;
    background: #C0C0C0;
    color: white;
    height: 40px;
    opacity: 0.8;
}

.menu{
    background-color: gray;
    width: 100;
    height: 10;
    padding: 10px;
    margin: 10px;
    margin-top: -30px;
    color: black;
    float: right;
    border-radius: 5px;
}

div{
    padding: 20px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
}

:hover.menu{
    background-color: darkgray;
    color: white;
}

a{
    text-decoration: none;
    color:#000000; 
}

a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none; 
	color: white;
}

a:active {
	text-decoration: none
	}

.img_impacta_header{
    margin: -10px 0 0 50px;
    width: 250px;
    height: 60px;
    float: left;
}

.tituloh1{
    text-align: center;
}

h2{
    margin: 10px;
}

p{
    margin: 10px;
}

h3{
    margin: 5px 10px;
}

ol{
    padding: 0 5px;
}

.letrasdiferentes{
    margin: 10px;
}

.letrasdiferentesh1{
    margin: 10px;
    text-align: center;
}

.sobre{
    margin: 10px 100px;
    padding: 10px 10px 10px 10px;
    width: 500px;
    height: 300px;
    border-radius: 3px;
    float: left;
    font-size: 15px;
    box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 1px 5px 0px rgba(0,0,0,0.12);
}

.periodo{
    margin: 10px -5px; 
    padding: 10px 40px;
    width: 500px;
    height: 300px;
    border-radius: 3px;
    float: left;
    box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 1px 5px 0px rgba(0,0,0,0.12);
}

.periodo2{
    margin: 10px 60px; 
    padding: 10px;
    width: 400px;
    height: 75px;
    border: 1px solid gray;
    border-radius: 3px;
    float: right;
}

.ampulheta{
    width: 80px;
    height: 80px;
    float: left;
    padding: 0 10px;
}

.duracao{
    margin: 5px 60px; 
    padding: 10px;
    width: 400px;
    height: 75px;
    border: 1px solid gray;
    border-radius: 3px;
    float: right;
}

.calendario{
    width: 80px;
    height: 80px;
    float: left;
    padding: 0 10px;
}

.matrizcurricular{
    text-align: center;
    margin: 20px 100px;
    padding: 20px 10px;
    width: 1175px;
    height: 700px;
    border-radius: 3px;
    float: left;
    box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 1px 5px 0px rgba(0,0,0,0.12);
}

.coordenador{
    margin: 10px 100px 80px;
    padding: 20px 10px;
    width: 1175px;
    height: 600px;
    border-radius: 3px;
    float: left;
    box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 1px 5px 0px rgba(0,0,0,0.12); 
}

.foto{
    float: left;
    margin:20px 50px;
    height: 450px;
    box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 1px 5px 0px rgba(0,0,0,0.12);
}
.descricaocoordenador{
    text-align: left;
    margin: 20px 10px; 
    padding: 10px;
    width: 600px;
    height: 400px;
    border-radius: 3px;
    float: left;
    box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 1px 5px 0px rgba(0,0,0,0.12); 
}

.subtitulo{
    text-align: center;
    font-style: italic;
}

.tabela_semestre{
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align:center;
    border-collapse: collapse;
    background-color: #7093DB;
    border: 1px solid white;
}
.cortabela{
    background-color: royalblue;
}

.cabecalho{
    margin: 90px 0 10px 0;
    
}

.img-menu{
    height: 35px;
    width: 35px;
}

.img-grupo{
    height: 400px;
    width: 230px;
    margin: 5px auto;
    padding: 20px;
    display: block;
    box-shadow: 1px 1px 20px #000;
    background-color: gainsboro;
}
/* PARTE DO PORTES */
.ADM{
    background-color: #708090;
    margin: 10px 50px; 
    padding: 10px;
    width: 400px;
    height: 100px;
    border: 1px solid rgb(6, 41, 240);
    float: left;
    text-align: center;
	color: white;
}

.ADS{
    background-color: #708090;
    margin: 10px 50px; 
    padding: 10px;
    width: 400px;
    height: 100px;
    border: 1px solid rgb(6, 41, 240);
    float: right;
    text-align: center;
	color: white;    
}

.ADS_ead{
    background-color: #708090;
    margin: 10px 50px; 
    padding: 10px;
    width: 400px;
    height: 100px;
    border: 1px solid rgb(6, 41, 240);
    float: left;
    text-align: center;
	color: white;    
}

.SI{
    background-color: #708090;
    margin: 10px 50px; 
    padding: 10px;
    width: 400px;
    height: 100px;
    border: 1px solid rgb(6, 41, 240);
    float: left;
    text-align: center;
	color: white;    
}

.RC{
    background-color: #708090;
    margin: 10px 50px; 
    padding: 10px;
    width: 400px;
    height: 100px;
    border: 1px solid rgb(6, 41, 240);
    float: right;
    text-align: center;
	color: white;
}

.JD{
    background-color: #708090;
    margin: 10px 50px; 
    padding: 10px;
    width: 400px;
    height: 100px;
    border: 1px solid rgb(6, 41, 240);
    float: left;
    text-align: center;
	color: white;
}

.PG{
    background-color: #708090;
    margin: 10px 50px; 
    padding: 10px;
    width: 400px;
    height: 100px;
    border: 1px solid rgb(6, 41, 240);
    float: right;
    text-align: center;
	color: white;
}

.PM{
    background-color: #708090;
    margin: 10px 50px; 
    padding: 10px;
    width: 400px;
    height: 100px;
    border: 1px solid rgb(6, 41, 240);
    float: left;
    text-align: center;
	color: white;   
}

.EC{
    background-color: #708090;
    margin: 10px 50px; 
    padding: 10px;
    width: 400px;
    height: 100px;
    border: 1px solid rgb(6, 41, 240);
    float: right;
    text-align: center;
	color: white;
}

.GTI{
    background-color: #708090;
    margin: 10px 50px; 
    padding: 10px;
    width: 400px;
    height: 100px;
    border: 1px solid rgb(6, 41, 240);
    float: left;
    text-align: center;
    color: white;
}

.BD{
    background-color: #708090;
    margin: 10px 50px; 
    padding: 10px;
    width: 400px;
    height: 100px;
    border: 1px solid rgb(6, 41, 240);
    float: right;
    text-align: center;
	color:white;
}

:hover.ADM{
    background-color: rgb(2, 2, 179);
}

:hover.ADS{
    background-color: rgb(2, 2, 179);
}

:hover.ADS_ead{
    background-color: rgb(2, 2, 179);
}

:hover.SI{
    background-color: rgb(2, 2, 179);
}

:hover.RC{
    background-color: rgb(2, 2, 179);
}

:hover.JD{
    background-color: rgb(2, 2, 179);
}

:hover.PG{
    background-color: rgb(2, 2, 179);
}

:hover.PM{
    background-color: rgb(2, 2, 179);
}

:hover.EC{
    background-color: rgb(2, 2, 179);
}

:hover.GTI{
    background-color: rgb(2, 2, 179);
}

:hover.BD{
    background-color: rgb(2, 2, 179);
}

.nada{
    margin: 10px 50px; 
    padding: 10px;
    width: 1213px;
    height: 20px;
    float: left;
    text-align: center;
}

.sobre_infra{
    margin: 10px 100px 80px;
    padding: 20px 10px;
    width: 1175px;
    height: 600px;
    border-radius: 3px;
    float: left;
}

.foto_infra{
    float: left;
    margin:20px 50px;
    height: 422px;
    width: 435px;
}
.descricao_infra{
    text-align: left;
    margin: 20px 10px; 
    padding: 50px 0 0 0; 
    width: 600px;
    height: 400px;
    border-radius: 3px;
    float: left;
}
.coordenador_adm{
    margin: 10px 100px 80px;
    padding: 20px 10px;
    width: 1180px;
    height: 700px;
    border-radius: 3px;
    float: left;
    box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 1px 5px 0px rgba(0,0,0,0.12); 
}
.descricaocoordenador_adm{
    text-align: left;
    margin: 20px 10px; 
    padding: 10px;
    width: 640px;
    height: 550px;
    border-radius: 3px;
    float: left;
    box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 1px 5px 0px rgba(0,0,0,0.12); 
}
.coordenador_jd{
    margin: 10px 100px 80px;
    padding: 20px 10px;
    width: 1180px;
    height: 850px;
    border-radius: 3px;
    float: left;
    box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 1px 5px 0px rgba(0,0,0,0.12); 
}
.descricaocoordenador_jd{
    text-align: left;
    margin: 20px 10px; 
    padding: 10px;
    width: 640px;
    height: 700px;
    border-radius: 3px;
    float: left;
    box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 1px 5px 0px rgba(0,0,0,0.12); 
}
/*Parte do Raul*/
.not{
    background-color:   rgb(2, 2, 179);
    margin: 10px 40px; 
    padding: 10px;
    width: 510px;
    height: auto;
    border: 1px solid black;
    text-align: justify;
    color:white;
    float: left;
    box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 1px 5px 0px rgba(0,0,0,0.12); 

}

.not2{
    background-color: rgb(2, 2, 179);
    margin: 10px 40px; 
    padding: 10px;
    width: 510px;
    height: auto;
    border: 1px solid black;
    float: right;
    text-align: justify;
    color: white;
    box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 1px 5px 0px rgba(0,0,0,0.12);  
}
.not3{
    background-color:  rgb(2, 2, 179);
    margin: 10px 40px; 
    padding: 10px;
    width: 510px;
    height: auto;
    border: 1px solid black;
    float: left;
    text-align: justify;
    color: white; 
    box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 1px 5px 0px rgba(0,0,0,0.12); 
}
.not4{
    background-color:  rgb(2, 2, 179);
    margin: 10px 40px; 
    padding: 10px;
    width: 510px;
    height: auto;
    border: 1px solid black;
    float: right;
    text-align: justify;
    color: white; 
    box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 1px 5px 0px rgba(0,0,0,0.12); 
}
.not5{
    background-color:  rgb(2, 2, 179);
    margin: 10px 40px; 
    padding: 10px;
    width: 510px;
    height: auto;
    border: 1px solid black;
    float: left;
    text-align: justify;
    color: white; 
    box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 1px 5px 0px rgba(0,0,0,0.12); 
}
.not6{
    background-color:  rgb(2, 2, 179);
    margin: 10px 40px; 
    padding: 10px;
    width: 510px;
    height: auto;
    border: 1px solid black;
    float: right;
    text-align: justify;
    color: white; 
    box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 1px 5px 0px rgba(0,0,0,0.12); 
}
